# Análisis de sentimientos

## Contenido 

**Se tiene qué actualizar**

1. Fuentes de datos
2. Descripción de los datos
3. Limpieza de datos
4. Valores faltantes
5. Creación de df

## 1. Fuentes de datos

La fuente de datos de este trabajo es **estrucurada** en formato xlsx. Los datos son **privados** y se eliminó toda la información sensible por privacidad de los datos. Esta base de datos contiene información sobre rotación de personal de empresas manufactureras de Tala, Jalisco. 

Se trata de una base de datos transversal que comprende del 20 de abril del 2021 al 30 de abril del 2024.

Para este trabajo sólo se extraerá el corpus de texto para realizar un análisis de sentimientos posterior.

In [ ]:
# paquetes

import pandas as pd

## 2. Descripción de los datos

#### Revisión inicial de los datos originales

In [2]:
# Carga de datos

ruta = r'C:\Users\luism\Documents\3_Proyectos\PrediccionRotacionPersonal\data\rotacion_personal.xlsx'
df_0 = pd.read_excel(ruta)

In [3]:
# Primera visualización de los datos

df_0.head(3)

,FECHA DE INGRESO,FECHA DE BAJA,Estatus,Días Laborados,FECHA DE NACIMIENTO,No de Crédito Infonavit,PUESTO,AREA,TURNO,MUNICIPIO,SALARIO DIARIO,SALARIO MENSUAL,ESCOLARIDAD,GENERO,Tipo de renuncia,Motivo de renuncia
0,2023-11-21 00:00:00,22/11/2023,baja,1.0,1979-08-26,Si,OP PRODUCCION,PRODUCCION,C,TALA,250.0,7500.0,SECUNDARIA,FEMENINO,RENUNCIA VOLUNTARIA,SE LE COMPLICÓ EL HORARIO DEL TRANSPORTE PARA ...
1,2023-10-16 00:00:00,17/10/2023,baja,1.0,1993-09-02,NO,OP PRODUCCION,PRODUCCION,C,TALA,250.0,7500.0,SECUNDARIA_TRUNCA,FEMENINO,SEPARACION VOLUNTARIA,PROBLEMA PERSONAL
2,2022-02-21 00:00:00,22/02/2022,baja,1.0,1993-10-17,NO,OP PRODUCCION,PRODUCCION,C,TALA,200.0,6000.0,SECUNDARIA,FEMENINO,ABANDONO,SOLO ACUDIÓ A INDUCCION

In [4]:
# Primera visualización de los datos

df_0.tail(3)

,FECHA DE INGRESO,FECHA DE BAJA,Estatus,Días Laborados,FECHA DE NACIMIENTO,No de Crédito Infonavit,PUESTO,AREA,TURNO,MUNICIPIO,SALARIO DIARIO,SALARIO MENSUAL,ESCOLARIDAD,GENERO,Tipo de renuncia,Motivo de renuncia
499,13/12/2021,NaN,activo,NaN,NaT,NO,OP PRODUCCION,PRODUCCION,C,TALA,NaN,NaN,SIN_ESTUDIOS,FEMENINO,NaN,NaN
500,26/09/2022,NaN,activo,NaN,NaT,SI,OP PRODUCCION,PRODUCCION,A,TALA,NaN,NaN,SIN_ESTUDIOS,FEMENINO,NaN,NaN
501,2022-03-23 00:00:00,NaN,activo,NaN,NaT,NO,OP PRODUCCION,PRODUCCION,C,TALA,NaN,NaN,SIN_ESTUDIOS,MASCULINO,NaN,NaN

In [7]:
# creamos df sólo con la variable a utilizarse

df = df_0[['Motivo de renuncia']].copy()

df.head(3)

                                  Motivo de renuncia
0  SE LE COMPLICÓ EL HORARIO DEL TRANSPORTE PARA ...
1                                  PROBLEMA PERSONAL
2                            SOLO ACUDIÓ A INDUCCION

#### Descripción general de la variable Motivo de renuncia

In [8]:
# Información general

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Motivo de renuncia  446 non-null    object
dtypes: object(1)
memory usage: 4.1+ KB

In [9]:
print(df.isnull().sum())

print("Valores nulos totales", {df.isnull().sum().sum()})

Motivo de renuncia    56
dtype: int64
Valores nulos totales {56}

In [10]:
# Variables cuantitativas

df.describe()

        Motivo de renuncia
count                  446
unique                 203
top                      0
freq                   102

In [13]:
# Motivo de renuncia

print("- Los distintos motivos de renuncia:", df['Motivo de renuncia'].unique())

- Los distintos motivos de renuncia: ['SE LE COMPLICÓ EL HORARIO DEL TRANSPORTE PARA LLEVAR A TIEMPO A SU HIJA A LA ESCUELA'
 'PROBLEMA PERSONAL' 'SOLO ACUDIÓ A INDUCCION'
 'ENVIARON A TRABJAR FORANEO A SU ESPOSO Y EL CUIDARIA  A SUS HIJOS'
 'SOLO ACUDIÓ A INDUCCION, YA NO S EPRESENTÓ Y NO RESPONDIÓ LLAMDAS NI MENSAJES'
 'NO AGRADÓ EMPLEO'
 'SE LE HIZO EXTENSA LA RUTA DEL TRANSPORTE, NO ALCANZABA A LLEVAR A SU HIJA A LA ESCUELA'
 'YA NO SE PRESENTÓ Y NO RESPONDIÓ MENSJAES NI LLAMDAS' nan
 'ESTUVIMOS TRATANDO DE LOCALIZARLO PERO NO FUE POSIBLE CONTACTARLO, SOLO ACUDIÓ A INDUCCION'
 0 'ENOCNTRO MEJOR EMPLEO' 'SOLO SE PRESENTO A INDUCCION'
 'No responde llamdas ni mensajes' 'SE ENFERMÓ SU HIJO, SE PUSO GRAVE'
 'SE LE HIZO PESADO E TRABAJO' 'TEMAS PERSONALES'
 'SOLO TRABAJÓ 1 DIA-INDUCCION' 'SE LE HIZO PESADO TURNO C'
 'CONFLICTO FAMILIAR CON UNA COMPAÑERA' 'POR MEJOR OFERTA' 'FALLECIO MAMA'
 'SE LE COMPLICÓ TRASLADO' 'PROBLEMAS DE SALUD DE SU MAMA'
 'BUSCABA MEJOR SALARIO'
 'SEM 47 NI 1 DIA, SEM 46 SOLO TRABAJO MARTES Y MIERCOLES'
 'TRABAJO SOLO UNA SEMANA' 'FALLECIO ESPOSO EN USA'
 'SE LE COMPLICÓ POR SUS HIJOS PEQUEÑOS' 'PROBLEMA FAMILIAR'
 'FALTAS Y BAJO DESEMPEÑO' 'NO AGRADÓ EL EMPLEO'
 'TRABAJO 2 SEMANAS, FALTISTA' 'PROBLEMAS PERSONALES'
 'PROBLEMAS FAMILIARES' 'NO LE GUSTO EL TRABAJO'
 'MEJOR OFERTA EN OTRA CIUDAD'
 'SE ENFERMÓ LA 1ER SEMANA QUE ENTRÓ A TRABAJAR, PREFIRIÓ QUEDARSE EN CASA A RECUPRARSE'
 'PARA BUSCAR EMPLEO ENFOCADO A SU CARRERA'
 'ALTERCADO CON COMPAÑERO, EMPUJÓN'
 'BAJA POR CONTINUAS AMONESTACIONES DERIVADAS DE DESCUIDOS'
 'BAJARIAN DE PUESTO POR PROBLEMA QUE HUBO CON MATERIAL'
 'COMENTA QUE DONDE TOMA EL TRANSPORTE DE COOL PAK ESTA MUY PELIGROSO Y LA ASALTARON'
 'HIJA ENFERMA, NO TENIA QUIEN LA CUIDE' 'HIJO ENFERMO'
 'MAMA ENFERMA, OTRO EMPLEO' 'MEJOR OFERTA' 'NO PUDO CONTINUAR EN TURNO C'
 'NO SE PUDO LOCALIZAR'
 'PAPA ESTA MUY ENFERMO, SE REGRESARÁ A SU PUEBLO PARA AYUDARLO'
 'PARA TRABAJAR EN LAMISMA EMPRESA A LA QUE ENTRARÁ SU HERMANA A LA CUAL DIMOS DE BAJA DE COOL PAK'
 'POR UNA MEJOR OFERTA' 'RENUNCIÓ PARA IR A SU CIUDAD DE ORIGEN, VERACRUZ'
 'SE LE COMPLICO SEGUIR TURNO C'
 'SEM 45 NI 1 DIA LABORADO, SEM 44 COMPLETA'
 'SEM 45 TRABAJO LUNES Y MARTES'
 'SEM 49 FALT[O MIERCOLES, JUEVES Y VIERNES'
 'TERMINO INCAPACIDAD DE MATERNIDAD Y SE DEDICARÁ A CUDIDAR A SU BEBE'
 'tomó la decisión de Renunciar, sigue muy enferma porque tiene sus defensas muy bajas por el tema de su trasplante de riñón y no logra recuperarse, tomará un tiempo de descanso para recuperar su salud'
 'TUVO UN RPOBLEMA FAMILIAR'
 'VINO A TRABAJAR 1 DE DIC PERO NO QUISO QUEDARSE A COMPLETAR EL TURNO, MALA ACTITUD'
 'POR AMBIENTE DE TRABAJO, NO BUEN TRATO' 'SEM 49 LABORO SOLO MARTES'
 'OPERARON A UN FAMILIAR FUERA DE GDL' 'NO LE AGRADÓ EL TRABAJO'
 'BAJO DESEMPEÑO'
 'ENVIARO A SU ESPOSO A TRABAJAR FUERA DE LA CIUDAD Y EL ES QUIEN CUIDABA A SUS HIJOS EN LA NOCHE'
 'ABANDONO' 'PARA BUSCAR MEJOR SALARIO' 'INTERNARON A SU MAMA EN GDL'
 'ACUMULO 4 FALTAS EN 30 DIAS, FALTISTA' 'ASUNTO FAMILIAR'
 'BAJA PORQUE ACUMULÓ 5 FALTAS EN 30 DIAS' 'CAMBIA RESIDENCIA'
 'comenta lo siguiente: “que no le gusta el ambiente, que son muy exigentes, menciona que la supervisora a veces los culpa por las fallas de las máquinas, que cuando solicitan días de vacaciones no las quiere autorizar y se pone muy mal plan”'
 'COMENTO QUE NO E AGRADO COMO LE HABLARON ALGUNAS OPRERADORAS DE PRODUCCION'
 'CUESTIONES PERSONALES' 'ENCONTRÓ EMPLEO CON MEJOR SALARIO' 'FALTISTA'
 'LABORO LUNES Y MARTES DE SEM 51' 'MENCIONA QUE TUVO PROBLEMA PERSONAL'
 'MENCIONO PROBLEMA FAMILIAR' 'POR DISTANCIA, VIVE EN TESISTAN'
 'POR OFERTA AREA INSPECTOR DE CALIDADEN LA MICHEL'
 'RECIBIO UNA MEJOR OFERTA' 'SE PAGARON 4 Y 5 ENERO EN FINIQUITO'
 'SE PAGO SEMANA 01 EN NOMINA' 'SEM 46 NI 1 DIA, SEM 45 COMPLETA'
 'YA NO PUDO CONTINUAR EN TURNO C' 'SEM 50 LABORO SOLO LUNES Y MARTES'
 'SEM 50 NO TRABAJO NI 1 DIA' 'TUVO UN RPOBLEMA FAMILIAR EN GUERRERO'
 'PROBLEMA FAMILIAR EN OAXACA' 'SEMANA 48 COMPLETA'
 'SEMANA 48 FALTO VIERNES Y SABADO' 'NO FUE POSIBLE LOCALIZARLA'
 'PROEBLEMAS FAMILIARES' 'POR MEJOR OFERTA CON SU PAPA'
 'NO LE AGRADÓ QUE NO LE DIERAN PERMISO DE PAGAR OTRO DIA UNA FALTA QUE TUVO'
 'USO DE CELULAR REINCIDENTE' 'BAJA POR VENIR ALCOHOLIZADO'
 'NO QUISO REALIZAR EL TRABAJO QUE SE LE INDICÓ EN LINEA DE PRODUCCION Y SE RETIRÓ'
 'SE LE COMPLICO CUIDADO DE SUS HIJOS'
 'YA NO TUVE QUIEN LA CUIDARA A SUS HIJOS' 'ASUNTO FOTOS Y VIDEOS '
 'comentó que le hicieron una curación en un pie y le dijeron que guardara unos días de reposo pero no le dieron incapacidad, adicional a que no se ha sentido muy bien por su embarazo por lo que decidió dejar de trabajar por un tiempo.'
 'COMPLICACION CON LA SALUD DE SU HIJA POR ACCIDENTE, SEM 50 LUNES FUE DIA BUNZL'
 'ENCONTRÓ UN MEJOR EMPLEO' 'ERA FALTISTA' 'FALLECIÓ DOMINGO 21'
 'LE QUEDABA RETIRADA SU CADA DE DONDE LA DEJABA TRANSPORTE. SEM 47 TRABAJÓ HASTA JUEVES'
 'MAL DESEMPEÑO Y ACTITUD' 'MENCIONO QUE POR TEMAS PERSONALES'
 'POR FALTAS'
 'POR NO CUMPLIR CON LAS POLITICAS, LAVADO DE MANOS, PASARSE LA REJA POR DEBAJO, ETC'
 'PROBLEMAS DE SALUD DE SU HIJA' 'SEM 49 COMPLETA'
 'SEM 49 TRABAJÓ MARTES, MIERCOLES Y JUEVES, FALTO LUNES'
 'TRABAJO POCOS DIAS, LUEGO SE INCAPACITO POR COVID'
 'POR HORARIO DE CLASES EN UNIVERSIDAD'
 'SEM  50 TRABAJO LUNES Y MARTES, SEM 51 LABORO LUNES Y MARTES, VINO A RENUNCIAR PERO YA SE TENIA CONTEMPLADA PARA BAJA'
 'SEM 49 LABORO SOLO  LUNES Y MARTES' 'HIJO INTERNADO EN CDMX'
 'SE ENFERMÓ SU PAPA'
 'NECESITABA TENER MEJORES INGRESOS, LE HICIERON OFERTA EN PTO VALLARTA'
 'SOLO TRABAJO UNA SEMANA' 'MAL LIDERAZGO DE LIDERES' 'SE ENFERMÓ SU MAMA'
 'LE OFRECIERON MEJOR OFERTA AL REGRESARSE A LA MICHEL'
 'VIVE EN TLAJOMULCO, COMENTÓ QUE PAGABA MUCHO DINERO EN TRANSPORTE'
 'SEM 50 LABORO LUNES A MIERCOLES' 'SEM 45 COMPLETA, SEM 46 NI 1 DIA'
 'SE LE ESTUVO TRATANDO DE LOCALIZAR Y NO CONTESTÓ' 'SITUACION DE SALUD'
 'NO FUE POSIBLE LOCALIZARLO' 'DEPRESION' 'SEM 49 TRABAJO LUNES Y MARTES'
 'NO PASO PERIODO DE PRUEBA' 'GOLPE A COMPAÑERO'
 'NO PASÓ PERIODO DE PRUEBA' 'POR MEJOR OFERTA ECONOMICA'
 'SE COMPLICÓ EL HORARIO DE TRABAJO POR HORARIO ESCOLAR'
 'SE COMPLICO EL HORARIO CON OTRO TRABAJO QUE TIENE EN LAS TARDES'
 'SE ENFERMÓ SU HIJO Y REQUIERE CUIDADOS ESPECIALES'
 'MENCIONO QUE NO ESTABA BIEN DE SALUD, PERO NO FUE A ATENCION AL IMSS'
 'QUERIA CAMBIO A PRODUCCION' 'MAL AMBIENTE, SUPERVISORA'
 'TUVO QUE SALIR DE URGENCIA A SU PUEBLO'
 'MENCIONO SU ESPOSO QUE SE ENFERMO SU HIJO'
 'VINO A RENUNCIAR PERO YA SE TENIA CONTEMPLADA PARA BAJA'
 'SOLO TRABAJÓ UNA SEMANA'
 'CAMBIARON HORARIOS EN LA ESCUELA Y NO SE ACOMODÓ CON HORARIO DE TRABAJO'
 'mencionó que busca empleo con mayor salario' 'SE ENFERMÓ'
 'SE REGRESA A SU PUEBLO, SU MAMÁ SE ENFERMÓ'
 'SE LE HABÍA COMENTADO ESTARIA UNA SEMANA EN TURNO B, PERO AL INGRESAR CAMBIARON LAS NECESIDADES DE ALMACEN Y REQUERIAN QUE ESTUVIERA UN MES EN ESE TURNO, AL EMPLEADO NO LE FUE POSIBLE'
 'YA NO LE PUDIERON CUIDAR A SUS HIJOS.' 'LE DIO INFARTO A SU ESPOSO'
 'SOLO SE PRESENTÓ A INDUCCION'
 'COMENTO QUE YA NO LE PUDIERN CUIDAR A SUS HIJOS'
 'COMENTÓ QUE FALLECIÓ SU ABUELITO LA CUAL VIVIA EN MONTERREY, SE LE SOLICTÓ COMPROBANTE PARA JUSTIFCAR FALTAS PERO NO LO ENVÍO NI SE PRESENTÓ CUANDO QUEDÓ DE HACERLO'
 'ASUNTOS DE SALUD'
 'solo acuduoó a induccion y ocmentó que tenia internado en hospital a su pareja, quedó de presentarse a trabajar el martes pero no acudió y no respondió mensajes el miercoles que lo contactamos'
 'SITUACION PERSONAL' 'LABORÓ POCO TIEMPO, FALTISTA'
 'ACUMULO 5 FALTAS EN 30 DIAS, FALTISTA' 'CUIDADO DE SUS HIJAS'
 'MEJOR OFERTA DE SALARIO TYPAC' 'NO AGRADÓ AMBIENTE'
 'POR MOTIVOS DE SALUD' 'MEJOR OFERTA ECONOMICA EN OTRA CIUDAD'
 'FALSIFICACION DE FIRMAS E INFORMACION' 'PROBLEMA DE SALUD'
 'FALTISTA,BAJO DESEMPEÑO' 'DECISION PERSONAL'
 'TUVO UN PROBLEMA PERSONAL EN OTRO ESTADO'
 'PROBLEMAS FAMILIARES, SU MAMA LA GOLPEABA' 'MOTIVOS PERSONALES'
 'NO TENIA QUIE LE CUIDE A SUS HIJOS'
 'TERMINÓ SU INCAPACIDAD DE MATERNIDAD Y NO TIENE QUIEN LE CUIDE A SU BEBÉ'
 'FALTAS,BAJO DESEMPEÑO' 'POR OTRO EMPLEO ENFOCADO EN SU CARRERA'
 'NO MENCIONA'
 'RENUNCIO POR UNA ACTA QUE LE PUDIERON POR IRSE ANTES DE SU HORA'
 'OFERTA PUESTO ADMINISTRATIVO' 'ENCONTRO MEJOR OFERTA'
 'PARA CUIDAR A UN FAMILIAR ENFERMO' 'LE PARECIO MUCHO TRABAJO'
 'VACANTE TEMPORAL ZAMORA'
 'SE CAYO Y SE QUEDÉ EN SU PUEBLO, NO FUE A IMSS' 'POSITIVO ANTIDOPING'
 'PARA PODER DEJAR FIJA A NAOMI' 'TEMPORAL CD GUZMAN'
 'SE ROBO REFRESCO, ACEPTO EL HECHO'
 'SEM 46 NI 1 DIA, SEM 45 SOLO TRABAJO MIERCOLES' 'PROBLEMA CON SU HIJO'
 'PARA ENFOCARSE EN SUS ESTUDIOS' 'MEJOR OFERTA ECONOMICA'
 'PROBLEMAS PERSONALES Y ADICONAL COMENTÓ QUE LE MOVIERON DE TURNO DOS OCASIONES SIN QUE EL ESTUVIERA DE ACUERDO'
 'SE LE COMPLICÓ SEGUIR POR EL HORARIO QUE TIENE EN SU TABAJO DE LAS TARDES'
 'SU MAMÁ FALLECIO, SE LE OTORGÓ EL PERMISO QUE MARCA LA LEY,SE LE DIERON 2 DIAS DE VACACIONES QUE TENIA DISPONIBLES, DESPUES DE ESO FALTÓ POR UNA SEMANA COMPLETA'
 'POR TEMAS PERSONALES' 'PARA CUIDAR A SU BEBÉ RECIEN NACIDO'
 'EMBARAZO COMPLICADO']

## 3. Limpieza de datos

In [15]:
# Actualizamos título de la variable

df.rename(columns={'Motivo de renuncia': 'Motivo_renuncia'}, inplace=True)

df.head(1)

                                     Motivo_renuncia
0  SE LE COMPLICÓ EL HORARIO DEL TRANSPORTE PARA ...

## 4. Valores faltantes

In [16]:
## Se eliminan valores faltantes

df = df.dropna()

print("Valores nulos totales", {df.isnull().sum().sum()})

Valores nulos totales {0}

## 4. Creación de df

In [ ]:
# Guardamos df con el que se realizará análisis de sentimientos

ruta_guardado = r'C:\Users\luism\Documents\3_Proyectos\PrediccionRotacionPersonal\results\motivo_renuncia.csv'
df.to_csv(ruta_guardado, index=False)